<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.usabilla.usabilla_xamarin">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Xamarin.Usabilla.Sample.Android">
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>